page-movies-list {
    .input-wrapper{
        *{
            white-space: normal;
        }
    }
    .container-questions{
        margin-top: 2em;
        margin-bottom: 1.5em;
    }
    .divider-movies{
        margin-top: 1em;
        margin-bottom: .5em;
    }
}
